
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    /* background-image: url('../images/dark\ green\ background.png');
    background-size: cover;
    background-position: center; */
}


/* ==========header section designed =========*/
nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;
}
.brand-name{
    font-size: 32px;
    margin-left: 30px;
}
.heighlight{
    color: #9e770d;
}
.navlist{
    list-style: none;
    display: flex;
    line-height: 50px;
}
.nav-item{
    padding: 10px 20px;
}
.nav-link{
    font-size: 18px;
    color: #9e770d;
    line-height: 24px;
}
.line-part img{
    height: 18px;
    width: 100%;
}


/* ==========banner section designed =========*/
.banner-section{
    min-height: 50vh;
    padding: 40px 10px;
}
.banner-section img{
    width: 200px;
    margin-bottom: 30px;
}
.banner-title{
    font-size: 34px;
}
.banner-text{
    font-size: 18px;
    font-weight: 500;
    color: #6e6b6b;
}



/* ==========content section designed =========*/
.content-text{
    font-size: 18px;
    font-weight: 400;
    word-spacing: 2px;
    text-align: justify;
}
.welcome-section, .our-goals{
    padding: 20px 0px;
}
.large-text{
    font-size: 28px;
}
.medium-text{
    font-size: 26px;
    line-height: 20px;
}
.text-box-1, .text-box-2, .text-box-3{
    font-size: 18px;
}
.text-box-1{
    background-color: rgba(0, 0, 0, .2);
    padding: 20px;
}
.text-box-2{
    margin-top: 20px;
    padding: 20px;
}
.text-box-3{
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 5px 10px 20px #dedede;
}

.center-text{
    text-align: center !important;
    width: 100%;
    float: right;
    line-height: 36px;
}


/* ============what we do page designed========== */
@media screen and (max-width: 600px) {
    .our-works{
        padding: 0px 20px;
    }
}
#who-we-are, #what-we-do, #programs, #privacy-policy{
    padding: 50px 0px;
}
.text-toggle{
    font-size: 18px !important;
}

#see-more-btn, #see-less-btn{
    max-width: 90px;
}
.hide{
    display : none;
}
.show{
    display: block;
    transition: display 1s ease-in;
}


/* =============some of our customers=========== */
.our-customers{
    padding: 0;
}
.customers-review{
    display: flex;
    flex-wrap: wrap;
}
.our-customers .box-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d4d0d0;
    border-radius: 10px;
    padding: 20px;
}
.our-customers .box-content:hover{
    box-shadow: 5px 10px 15px #dedede;
}
.our-customers .image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}
.our-customers .image img{
    width: 100%;
    height: 100%;
}
.working-institute{
    color: #4b4848;
}
.our-customers .customer-comment{
    font-size: 14px;
    text-align: justify;
    display: none;
}
.our-customers .box-content:hover .customer-comment{
    display: flex;
}



/* ===============programs section designed===================== */
table th{
    font-size: 24px;
    padding: 10px 0px;
}


/* ==========footer section designed =========*/
.footer-section{
    padding: 60px 0px;
    background: rgba(0, 0, 0, .6);
    color: #dedede;
}
.footer-section .heighlight{
    color: #daad32;
}
.footer-section h6{
    font-size: 22px;
}
.quick-links ul{
    list-style: none;
    padding: 0;
}
.links{
    padding: 3px 10px;
}
.links a{
    text-decoration: none;
    color: #fff;
}
.links a:hover{
    color: #daad32;
}



/* ============scroll-to-top-section============= */
.scroll-top{
    position: relative;
}
.scroll-btn{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 40px;
    bottom: 30px;
    background-color: #90afbb;
    border: none;
    border-radius: 50%;
    transform: rotate(90deg);
    display: none;
}
.fa-chevron-left{
    color: #6e6b6b;
    padding: 10px;
    font-size: 28px;
}




/* =============contact page designed=========== */
.contact-section{
    padding: 40px 0px;
    font-size: 18px;
}
@media screen and (max-width: 600px) {
    .contact-section{
        padding: 20px;
    }
}

.contact-form{
    max-width: 600px;
    padding: 50px 0px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group span{
    color: red;
}
.submit-button{
    max-width: 100px;
}



 /* ==============responsive design =========*/
.fa-bars{
    font-size: 24px;
    position: absolute;
    right: 20px;
    display: none;
}
@media screen and (max-width: 970px) {
    .nav-bar{
        position: relative;
    }
    .nav-bar .navbar-brand{
        position: absolute;
        left: 20px;
    }
    .navlist{
        display: none;
    }
    .nav-bar.responsive{
        position: relative;
        min-height: 100vh;
        padding: 0px;
        background-color: #a2d3d3;
    }
   
    .nav-bar.responsive .navbar-brand{
        position: absolute;
        top: 10px;
        left: 20px;
    }
    .nav-bar.responsive .fa-bars{
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .nav-bar.responsive .navlist{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        animation: sideplay 1s ease-out;
    }
    @keyframes sideplay{
        0%{
            left: 0px;
        }
        100%{
            left: 50%;
        }
    }
    .nav-bar.responsive .nav-link{
        padding: 5px 8px;
    }
    .nav-bar.responsive .nav-link:hover{
        background-color: #9e770d;
        color: #fff;
    }
    .fa-bars{
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .nav-bar{
        padding: 0px 10px;
    }
    .logo img{
        width: 40px;
    }
    .brand-name{
        font-size: 28px;
        margin-left: 10px;
    }
    .banner-section img{
        width: 150px;
    }
    .banner-title{
        font-size: 30px;
    }
    .banner-text{
        font-size: 16px;

    }
}

@media screen and (max-width: 450px) {
    .logo img{
        width: 30px;
    }
    .brand-name{
        font-size: 18px;
        margin-left: 5px;
    }
    .welcome-section, .our-goals{
        padding: 20px 0px;
    }
    .banner-title{
        font-size: 24px;
    }
    .content-text{
        font-size: 16px;
    }
    .large-text{
        font-size: 22px;
    }
    .medium-text{
        font-size: 20px;
    }
}

