
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    /* background-image: url('../images/dark\ green\ background.png');
    background-size: cover;
    background-position: center; */
}


/* ==========header section designed =========*/
nav{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    /* position: sticky;
    top: 0; */
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 90px;
}
.brand-name{
    font-size: 32px;
    margin-left: 30px;
}
.heighlight{
    color: #9e770d;
}
.navlist{
    list-style: none;
    display: flex;
}
.nav-item{
    padding: 10px 20px;
}
.nav-link{
    font-size: 18px;
    color: #9e770d;
}
.line-part img{
    height: 18px;
    width: 100%;
}


/* ==========banner section designed =========*/
.banner-section{
    min-height: 50vh;
}
.banner-section img{
    width: 200px;
    margin-bottom: 30px;
}
.banner-title{
    font-size: 34px;
}
.banner-text{
    font-size: 18px;
    font-weight: 500;
    color: #6e6b6b;
}



/* ==========content section designed =========*/
.content-text{
    font-weight: 400;
    word-spacing: 2px;
    text-align: justify;
}
.welcome-section, .our-goals{
    padding: 20px 0px;
}
.text-box-1{
    background-color: rgba(0, 0, 0, .2);
    padding: 20px;
}
.text-box-2{
    margin-top: 20px;
    padding: 20px;
}
.text-box-3{
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 5px 10px 20px #dedede;
}
.large-text{
    font-size: 24px;
}
.medium-text{
    font-size: 20px;
    line-height: 20px;
}
.center-text{
    text-align: center;
}


/* ============what we do page designed========== */

.text-toggle{
    display: none;
}
.show{
    display: block;
    transition: display 1s ease-in;
}




/* ==========footer section designed =========*/
.footer-section{
    padding: 60px 0px;
    background: rgba(0, 0, 0, .6);
    color: #dedede;
}
.footer-section .heighlight{
    color: #daad32;
}
.footer-section h6{
    font-size: 22px;
}
.quick-links ul{
    list-style: none;
    padding: 0;
}
.links{
    padding: 3px 10px;
}
.links a{
    text-decoration: none;
    color: #fff;
}
.links a:hover{
    color: #daad32;
}



/* =============contact page designed=========== */
.contact-section{
    padding: 40px 0px;
}
@media screen and (max-width: 600px) {
    .contact-section{
        padding: 20px;
    }
}

.contact-form{
    max-width: 600px;
    padding: 50px 0px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group span{
    color: red;
}
.submit-button{
    max-width: 100px;
}


