
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/dark\ green\ background.png');
    background-size: cover;
    background-position: center;
    color: #fff;
}


/* ==========header section designed =========*/
nav{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    /* position: sticky;
    top: 0; */
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 90px;
}
.brand-name{
    font-size: 32px;
    margin-left: 30px;
}
.heighlight{
    color: #daad32;
}
.navlist{
    list-style: none;
    display: flex;
}
.nav-item{
    padding: 10px 20px;
}
.nav-link{
    font-size: 18px;
    color: #daad32;
}
.line-part img{
    height: 18px;
    width: 100%;
}


/* ==========banner section designed =========*/
.banner-section{
    min-height: 50vh;
}
.banner-section img{
    width: 200px;
    margin-bottom: 30px;
}
.banner-title{
    font-size: 34px;
}
.banner-text{
    font-size: 18px;
    font-weight: 500;
    color: #b8b5b5;
}



/* ==========content section designed =========*/
.content-text{
    font-weight: 400;
    word-spacing: 2px;
    text-align: justify;
}
.welcome-section, .our-goals{
    padding: 20px 0px;
}
.large-text{
    font-size: 24px;
}
.medium-text{
    font-size: 20px;
    line-height: 20px;
}
.center-text{
    text-align: center;
}


/* ============what we do page designed========== */
/* .back-to-top{
    text-decoration: none;
    background-color: aqua;
    padding: 5px;
    color: #fff;
} */


/* ==========footer section designed =========*/
.footer-section{
    padding: 60px 0px;
    background: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5));
}
.footer-section h6{
    font-size: 22px;
}
.quick-links ul{
    list-style: none;
    padding: 0;
}
.links{
    padding: 3px 10px;
}
.links a{
    text-decoration: none;
    color: #fff;
}
.links a:hover{
    color: #daad32;
}



/* =============contact page designed=========== */
.contact-section{
    padding: 60px 10px;
}
.contact-content{
    font-size: 22px;
    font-weight: 300;
}

.contact-form{
    padding: 50px 20px;
}
.contact-form input, .contact-form textarea{
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #dedede;
}
.contact-form button{
    max-width: 150px;
}


