
/*============ navbar section here ==========*/
.navbar{
    padding: 10px 100px;
    position: relative;
}

.navbar-brand{
    font-size: 34px;
}
.navbar-collapse{
    position: absolute;
    right: 10%;
}

.nav-link{
    font-size: 18px;
    font-weight: 600;
    color: #000;
}


/* ============contact section here =========*/
.contact-section{
    padding: 40px 0px;
}
@media screen and (max-width: 600px) {
    .contact-section{
        padding: 20px;
    }
  }


.contact-form{
    max-width: 600px;
    padding: 50px 0px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group span{
    color: red;
}
.submit-button{
    max-width: 100px;
}